header {
  margin: 92px 24px 96px;
  min-height: 105px;
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  flex: 0 0 auto; 
  gap:20px;
  justify-content: space-between;

}

.header__menu {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.01em;
  align-self: center;
}

.header__menu-list {
  list-style: circle;
  display: flex;
  flex-direction: row;
  gap: 34px;
}

.header__menu-link {
  text-decoration: none;
  border-bottom: 1px solid black;
}
.header__menu-item_active {
  list-style: none;
}

.header__menu-item_active .header__menu-link {
  border-bottom: none;
}

.header__logo {
  width: 129.11px;
  height: 104.65px;
  position: relative;
  left: -75px;
}

.header__info {
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  min-width: 240.52px;
  align-self: end;
}

.header__info-link{
  text-decoration: none;
  border-bottom: 1px solid black;
}


address {
  margin: 0;
  padding: 0;
  font-style: normal;
}



